.bg-primary {
  background-color: #1a1ae2;
}

.text-primary {
  color: #1a1ae2;
}

.bdr-primary {
  border-color: #1a1ae2;
}

.bg-primary-lt-1 {
  background-color: #4848e8;
}

.text-primary-lt-1 {
  color: #4848e8;
}

.bdr-primary-lt-1 {
  border-color: #4848e8;
}

.bg-primary-dk-1 {
  background-color: #1515b5;
}

.text-primary-dk-1 {
  color: #1515b5;
}

.bdr-primary-dk-1 {
  border-color: #1515b5;
}

.bg-primary-lt-2 {
  background-color: #7676ee;
}

.text-primary-lt-2 {
  color: #7676ee;
}

.bdr-primary-lt-2 {
  border-color: #7676ee;
}

.bg-primary-dk-2 {
  background-color: #101088;
}

.text-primary-dk-2 {
  color: #101088;
}

.bdr-primary-dk-2 {
  border-color: #101088;
}

.bg-primary-lt-3 {
  background-color: #a3a3f3;
}

.text-primary-lt-3 {
  color: #a3a3f3;
}

.bdr-primary-lt-3 {
  border-color: #a3a3f3;
}

.bg-primary-dk-3 {
  background-color: #0a0a5a;
}

.text-primary-dk-3 {
  color: #0a0a5a;
}

.bdr-primary-dk-3 {
  border-color: #0a0a5a;
}

.bg-primary-lt-4 {
  background-color: #d1d1f9;
}

.text-primary-lt-4 {
  color: #d1d1f9;
}

.bdr-primary-lt-4 {
  border-color: #d1d1f9;
}

.bg-primary-dk-4 {
  background-color: #05052d;
}

.text-primary-dk-4 {
  color: #05052d;
}

.bdr-primary-dk-4 {
  border-color: #05052d;
}

.bg-secondary {
  background-color: #f5f5f5;
}

.text-secondary {
  color: #f5f5f5;
}

.bdr-secondary {
  border-color: #f5f5f5;
}

.bg-secondary-lt-1 {
  background-color: #f7f7f7;
}

.text-secondary-lt-1 {
  color: #f7f7f7;
}

.bdr-secondary-lt-1 {
  border-color: #f7f7f7;
}

.bg-secondary-dk-1 {
  background-color: #c4c4c4;
}

.text-secondary-dk-1 {
  color: #c4c4c4;
}

.bdr-secondary-dk-1 {
  border-color: #c4c4c4;
}

.bg-secondary-lt-2 {
  background-color: #f9f9f9;
}

.text-secondary-lt-2 {
  color: #f9f9f9;
}

.bdr-secondary-lt-2 {
  border-color: #f9f9f9;
}

.bg-secondary-dk-2 {
  background-color: #939393;
}

.text-secondary-dk-2 {
  color: #939393;
}

.bdr-secondary-dk-2 {
  border-color: #939393;
}

.bg-secondary-lt-3 {
  background-color: #fbfbfb;
}

.text-secondary-lt-3 {
  color: #fbfbfb;
}

.bdr-secondary-lt-3 {
  border-color: #fbfbfb;
}

.bg-secondary-dk-3 {
  background-color: #626262;
}

.text-secondary-dk-3 {
  color: #626262;
}

.bdr-secondary-dk-3 {
  border-color: #626262;
}

.bg-secondary-lt-4 {
  background-color: #fdfdfd;
}

.text-secondary-lt-4 {
  color: #fdfdfd;
}

.bdr-secondary-lt-4 {
  border-color: #fdfdfd;
}

.bg-secondary-dk-4 {
  background-color: #313131;
}

.text-secondary-dk-4 {
  color: #313131;
}

.bdr-secondary-dk-4 {
  border-color: #313131;
}

.bg-tertiary {
  background-color: #f5f5f5;
}

.text-tertiary {
  color: #f5f5f5;
}

.bdr-tertiary {
  border-color: #f5f5f5;
}

.bg-tertiary-lt-1 {
  background-color: #f7f7f7;
}

.text-tertiary-lt-1 {
  color: #f7f7f7;
}

.bdr-tertiary-lt-1 {
  border-color: #f7f7f7;
}

.bg-tertiary-dk-1 {
  background-color: #c4c4c4;
}

.text-tertiary-dk-1 {
  color: #c4c4c4;
}

.bdr-tertiary-dk-1 {
  border-color: #c4c4c4;
}

.bg-tertiary-lt-2 {
  background-color: #f9f9f9;
}

.text-tertiary-lt-2 {
  color: #f9f9f9;
}

.bdr-tertiary-lt-2 {
  border-color: #f9f9f9;
}

.bg-tertiary-dk-2 {
  background-color: #939393;
}

.text-tertiary-dk-2 {
  color: #939393;
}

.bdr-tertiary-dk-2 {
  border-color: #939393;
}

.bg-tertiary-lt-3 {
  background-color: #fbfbfb;
}

.text-tertiary-lt-3 {
  color: #fbfbfb;
}

.bdr-tertiary-lt-3 {
  border-color: #fbfbfb;
}

.bg-tertiary-dk-3 {
  background-color: #626262;
}

.text-tertiary-dk-3 {
  color: #626262;
}

.bdr-tertiary-dk-3 {
  border-color: #626262;
}

.bg-tertiary-lt-4 {
  background-color: #fdfdfd;
}

.text-tertiary-lt-4 {
  color: #fdfdfd;
}

.bdr-tertiary-lt-4 {
  border-color: #fdfdfd;
}

.bg-tertiary-dk-4 {
  background-color: #313131;
}

.text-tertiary-dk-4 {
  color: #313131;
}

.bdr-tertiary-dk-4 {
  border-color: #313131;
}

.bg-white {
  background-color: #fefefe;
}

.text-white {
  color: #fefefe;
}

.bdr-white {
  border-color: #fefefe;
}

.bg-white-lt-1 {
  background-color: #fefefe;
}

.text-white-lt-1 {
  color: #fefefe;
}

.bdr-white-lt-1 {
  border-color: #fefefe;
}

.bg-white-dk-1 {
  background-color: #cbcbcb;
}

.text-white-dk-1 {
  color: #cbcbcb;
}

.bdr-white-dk-1 {
  border-color: #cbcbcb;
}

.bg-white-lt-2 {
  background-color: #fefefe;
}

.text-white-lt-2 {
  color: #fefefe;
}

.bdr-white-lt-2 {
  border-color: #fefefe;
}

.bg-white-dk-2 {
  background-color: #989898;
}

.text-white-dk-2 {
  color: #989898;
}

.bdr-white-dk-2 {
  border-color: #989898;
}

.bg-white-lt-3 {
  background-color: white;
}

.text-white-lt-3 {
  color: white;
}

.bdr-white-lt-3 {
  border-color: white;
}

.bg-white-dk-3 {
  background-color: #666666;
}

.text-white-dk-3 {
  color: #666666;
}

.bdr-white-dk-3 {
  border-color: #666666;
}

.bg-white-lt-4 {
  background-color: white;
}

.text-white-lt-4 {
  color: white;
}

.bdr-white-lt-4 {
  border-color: white;
}

.bg-white-dk-4 {
  background-color: #333333;
}

.text-white-dk-4 {
  color: #333333;
}

.bdr-white-dk-4 {
  border-color: #333333;
}

.bg-black {
  background-color: #222222;
}

.text-black {
  color: #222222;
}

.bdr-black {
  border-color: #222222;
}

.bg-black-lt-1 {
  background-color: #4e4e4e;
}

.text-black-lt-1 {
  color: #4e4e4e;
}

.bdr-black-lt-1 {
  border-color: #4e4e4e;
}

.bg-black-dk-1 {
  background-color: #1b1b1b;
}

.text-black-dk-1 {
  color: #1b1b1b;
}

.bdr-black-dk-1 {
  border-color: #1b1b1b;
}

.bg-black-lt-2 {
  background-color: #7a7a7a;
}

.text-black-lt-2 {
  color: #7a7a7a;
}

.bdr-black-lt-2 {
  border-color: #7a7a7a;
}

.bg-black-dk-2 {
  background-color: #141414;
}

.text-black-dk-2 {
  color: #141414;
}

.bdr-black-dk-2 {
  border-color: #141414;
}

.bg-black-lt-3 {
  background-color: #a7a7a7;
}

.text-black-lt-3 {
  color: #a7a7a7;
}

.bdr-black-lt-3 {
  border-color: #a7a7a7;
}

.bg-black-dk-3 {
  background-color: #0e0e0e;
}

.text-black-dk-3 {
  color: #0e0e0e;
}

.bdr-black-dk-3 {
  border-color: #0e0e0e;
}

.bg-black-lt-4 {
  background-color: lightgray;
}

.text-black-lt-4 {
  color: lightgray;
}

.bdr-black-lt-4 {
  border-color: lightgray;
}

.bg-black-dk-4 {
  background-color: #070707;
}

.text-black-dk-4 {
  color: #070707;
}

.bdr-black-dk-4 {
  border-color: #070707;
}

.p-0 {
  padding: 0;
}

.p-xs {
  padding: 0.25rem;
}

.p-s {
  padding: 0.5rem;
}

.p-m {
  padding: 1rem;
}

.p-l {
  padding: 1.5rem;
}

.p-xl {
  padding: 2rem;
}

.p-xxl {
  padding: 4rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-xs {
  padding-left: 0.25rem;
}

.pl-s {
  padding-left: 0.5rem;
}

.pl-m {
  padding-left: 1rem;
}

.pl-l {
  padding-left: 1.5rem;
}

.pl-xl {
  padding-left: 2rem;
}

.pl-xxl {
  padding-left: 4rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-xs {
  padding-right: 0.25rem;
}

.pr-s {
  padding-right: 0.5rem;
}

.pr-m {
  padding-right: 1rem;
}

.pr-l {
  padding-right: 1.5rem;
}

.pr-xl {
  padding-right: 2rem;
}

.pr-xxl {
  padding-right: 4rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-xs {
  padding-top: 0.25rem;
}

.pt-s {
  padding-top: 0.5rem;
}

.pt-m {
  padding-top: 1rem;
}

.pt-l {
  padding-top: 1.5rem;
}

.pt-xl {
  padding-top: 2rem;
}

.pt-xxl {
  padding-top: 4rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-xs {
  padding-bottom: 0.25rem;
}

.pb-s {
  padding-bottom: 0.5rem;
}

.pb-m {
  padding-bottom: 1rem;
}

.pb-l {
  padding-bottom: 1.5rem;
}

.pb-xl {
  padding-bottom: 2rem;
}

.pb-xxl {
  padding-bottom: 4rem;
}

.m-0 {
  margin: 0;
}

.m-xs {
  margin: 0.25rem;
}

.m-s {
  margin: 0.5rem;
}

.m-m {
  margin: 1rem;
}

.m-l {
  margin: 1.5rem;
}

.m-xl {
  margin: 2rem;
}

.m-xxl {
  margin: 4rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-xs {
  margin-left: 0.25rem;
}

.ml-s {
  margin-left: 0.5rem;
}

.ml-m {
  margin-left: 1rem;
}

.ml-l {
  margin-left: 1.5rem;
}

.ml-xl {
  margin-left: 2rem;
}

.ml-xxl {
  margin-left: 4rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-xs {
  margin-right: 0.25rem;
}

.mr-s {
  margin-right: 0.5rem;
}

.mr-m {
  margin-right: 1rem;
}

.mr-l {
  margin-right: 1.5rem;
}

.mr-xl {
  margin-right: 2rem;
}

.mr-xxl {
  margin-right: 4rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-xs {
  margin-top: 0.25rem;
}

.mt-s {
  margin-top: 0.5rem;
}

.mt-m {
  margin-top: 1rem;
}

.mt-l {
  margin-top: 1.5rem;
}

.mt-xl {
  margin-top: 2rem;
}

.mt-xxl {
  margin-top: 4rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-xs {
  margin-bottom: 0.25rem;
}

.mb-s {
  margin-bottom: 0.5rem;
}

.mb-m {
  margin-bottom: 1rem;
}

.mb-l {
  margin-bottom: 1.5rem;
}

.mb-xl {
  margin-bottom: 2rem;
}

.mb-xxl {
  margin-bottom: 4rem;
}

.bdr-rd-none {
  border-radius: 0;
}

.bdr-rd-xs {
  border-radius: 0.25rem;
}

.bdr-rd-s {
  border-radius: 0.5rem;
}

.bdr-rd-m {
  border-radius: 1rem;
}

.bdr-rd-l {
  border-radius: 1.5rem;
}

.bdr-rd-xl {
  border-radius: 2rem;
}

.bdr-rd-xxl {
  border-radius: 50%;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

.d-i {
  display: inline;
}

.d-f {
  display: flex;
}

.d-if {
  display: inline-flex;
}

.d-g {
  display: grid;
}

.d-ig {
  display: inline-grid;
}

.fs-xs {
  font-size: 0.75rem;
}

.fs-s {
  font-size: 0.875rem;
}

.fs-m {
  font-size: 1rem;
}

.fs-l {
  font-size: 1.25rem;
}

.fs-xl {
  font-size: 1.5rem;
}

.fs-xxl {
  font-size: 2rem;
}

.fw-n {
  font-weight: normal;
}

.fw-b {
  font-weight: bold;
}

.fw-l {
  font-weight: lighter;
}

.fw-bd {
  font-weight: bolder;
}

.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  padding-left: 0;
  padding-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  padding-left: 0;
  padding-right: 0;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  padding-left: 0;
  padding-right: 0;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  padding-left: 0;
  padding-right: 0;
}

.jst-cnt-start {
  justify-content: start;
}

.align-items-start {
  align-items: start;
}

.align-cnt-start {
  align-content: start;
}

.jst-cnt-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-cnt-center {
  align-content: center;
}

.jst-cnt-space-between {
  justify-content: space-between;
}

.align-items-space-between {
  align-items: space-between;
}

.align-cnt-space-between {
  align-content: space-between;
}

.jst-cnt-space-around {
  justify-content: space-around;
}

.align-items-space-around {
  align-items: space-around;
}

.align-cnt-space-around {
  align-content: space-around;
}

.jst-cnt-space-evenly {
  justify-content: space-evenly;
}

.align-items-space-evenly {
  align-items: space-evenly;
}

.align-cnt-space-evenly {
  align-content: space-evenly;
}

.jst-cnt-flex-start {
  justify-content: flex-start;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-cnt-flex-start {
  align-content: flex-start;
}

.jst-cnt-flex-end {
  justify-content: flex-end;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-cnt-flex-end {
  align-content: flex-end;
}

@media (min-width: 0) {
  .col-1-xs {
    flex-grow: 0;
    width: 8.3333333333;
  }
  .col-2-xs {
    flex-grow: 0;
    width: 16.6666666667;
  }
  .col-3-xs {
    flex-grow: 0;
    width: 25;
  }
  .col-4-xs {
    flex-grow: 0;
    width: 33.3333333333;
  }
  .col-5-xs {
    flex-grow: 0;
    width: 41.6666666667;
  }
  .col-6-xs {
    flex-grow: 0;
    width: 50;
  }
  .col-7-xs {
    flex-grow: 0;
    width: 58.3333333333;
  }
  .col-8-xs {
    flex-grow: 0;
    width: 66.6666666667;
  }
  .col-9-xs {
    flex-grow: 0;
    width: 75;
  }
  .col-10-xs {
    flex-grow: 0;
    width: 83.3333333333;
  }
  .col-11-xs {
    flex-grow: 0;
    width: 91.6666666667;
  }
  .col-12-xs {
    flex-grow: 0;
    width: 100;
  }
}
@media (min-width: 576px) {
  .col-1-sm {
    flex-grow: 0;
    width: 8.3333333333;
  }
  .col-2-sm {
    flex-grow: 0;
    width: 16.6666666667;
  }
  .col-3-sm {
    flex-grow: 0;
    width: 25;
  }
  .col-4-sm {
    flex-grow: 0;
    width: 33.3333333333;
  }
  .col-5-sm {
    flex-grow: 0;
    width: 41.6666666667;
  }
  .col-6-sm {
    flex-grow: 0;
    width: 50;
  }
  .col-7-sm {
    flex-grow: 0;
    width: 58.3333333333;
  }
  .col-8-sm {
    flex-grow: 0;
    width: 66.6666666667;
  }
  .col-9-sm {
    flex-grow: 0;
    width: 75;
  }
  .col-10-sm {
    flex-grow: 0;
    width: 83.3333333333;
  }
  .col-11-sm {
    flex-grow: 0;
    width: 91.6666666667;
  }
  .col-12-sm {
    flex-grow: 0;
    width: 100;
  }
}
@media (min-width: 768px) {
  .col-1-md {
    flex-grow: 0;
    width: 8.3333333333;
  }
  .col-2-md {
    flex-grow: 0;
    width: 16.6666666667;
  }
  .col-3-md {
    flex-grow: 0;
    width: 25;
  }
  .col-4-md {
    flex-grow: 0;
    width: 33.3333333333;
  }
  .col-5-md {
    flex-grow: 0;
    width: 41.6666666667;
  }
  .col-6-md {
    flex-grow: 0;
    width: 50;
  }
  .col-7-md {
    flex-grow: 0;
    width: 58.3333333333;
  }
  .col-8-md {
    flex-grow: 0;
    width: 66.6666666667;
  }
  .col-9-md {
    flex-grow: 0;
    width: 75;
  }
  .col-10-md {
    flex-grow: 0;
    width: 83.3333333333;
  }
  .col-11-md {
    flex-grow: 0;
    width: 91.6666666667;
  }
  .col-12-md {
    flex-grow: 0;
    width: 100;
  }
}
@media (min-width: 992px) {
  .col-1-lg {
    flex-grow: 0;
    width: 8.3333333333;
  }
  .col-2-lg {
    flex-grow: 0;
    width: 16.6666666667;
  }
  .col-3-lg {
    flex-grow: 0;
    width: 25;
  }
  .col-4-lg {
    flex-grow: 0;
    width: 33.3333333333;
  }
  .col-5-lg {
    flex-grow: 0;
    width: 41.6666666667;
  }
  .col-6-lg {
    flex-grow: 0;
    width: 50;
  }
  .col-7-lg {
    flex-grow: 0;
    width: 58.3333333333;
  }
  .col-8-lg {
    flex-grow: 0;
    width: 66.6666666667;
  }
  .col-9-lg {
    flex-grow: 0;
    width: 75;
  }
  .col-10-lg {
    flex-grow: 0;
    width: 83.3333333333;
  }
  .col-11-lg {
    flex-grow: 0;
    width: 91.6666666667;
  }
  .col-12-lg {
    flex-grow: 0;
    width: 100;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    flex-grow: 0;
    width: 8.3333333333;
  }
  .col-2-xl {
    flex-grow: 0;
    width: 16.6666666667;
  }
  .col-3-xl {
    flex-grow: 0;
    width: 25;
  }
  .col-4-xl {
    flex-grow: 0;
    width: 33.3333333333;
  }
  .col-5-xl {
    flex-grow: 0;
    width: 41.6666666667;
  }
  .col-6-xl {
    flex-grow: 0;
    width: 50;
  }
  .col-7-xl {
    flex-grow: 0;
    width: 58.3333333333;
  }
  .col-8-xl {
    flex-grow: 0;
    width: 66.6666666667;
  }
  .col-9-xl {
    flex-grow: 0;
    width: 75;
  }
  .col-10-xl {
    flex-grow: 0;
    width: 83.3333333333;
  }
  .col-11-xl {
    flex-grow: 0;
    width: 91.6666666667;
  }
  .col-12-xl {
    flex-grow: 0;
    width: 100;
  }
}
@media (min-width: 1400px) {
  .col-1-xxl {
    flex-grow: 0;
    width: 8.3333333333;
  }
  .col-2-xxl {
    flex-grow: 0;
    width: 16.6666666667;
  }
  .col-3-xxl {
    flex-grow: 0;
    width: 25;
  }
  .col-4-xxl {
    flex-grow: 0;
    width: 33.3333333333;
  }
  .col-5-xxl {
    flex-grow: 0;
    width: 41.6666666667;
  }
  .col-6-xxl {
    flex-grow: 0;
    width: 50;
  }
  .col-7-xxl {
    flex-grow: 0;
    width: 58.3333333333;
  }
  .col-8-xxl {
    flex-grow: 0;
    width: 66.6666666667;
  }
  .col-9-xxl {
    flex-grow: 0;
    width: 75;
  }
  .col-10-xxl {
    flex-grow: 0;
    width: 83.3333333333;
  }
  .col-11-xxl {
    flex-grow: 0;
    width: 91.6666666667;
  }
  .col-12-xxl {
    flex-grow: 0;
    width: 100;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}