.bg-primary {
  background-color: #272730;
}

.text-primary {
  color: #272730;
}

.bdr-primary {
  border-color: #272730;
}

.bg-primary-lt-1 {
  background-color: #525259;
}

.text-primary-lt-1 {
  color: #525259;
}

.bdr-primary-lt-1 {
  border-color: #525259;
}

.bg-primary-dk-1 {
  background-color: #1f1f26;
}

.text-primary-dk-1 {
  color: #1f1f26;
}

.bdr-primary-dk-1 {
  border-color: #1f1f26;
}

.bg-primary-lt-2 {
  background-color: #7d7d83;
}

.text-primary-lt-2 {
  color: #7d7d83;
}

.bdr-primary-lt-2 {
  border-color: #7d7d83;
}

.bg-primary-dk-2 {
  background-color: #17171d;
}

.text-primary-dk-2 {
  color: #17171d;
}

.bdr-primary-dk-2 {
  border-color: #17171d;
}

.bg-primary-lt-3 {
  background-color: #a9a9ac;
}

.text-primary-lt-3 {
  color: #a9a9ac;
}

.bdr-primary-lt-3 {
  border-color: #a9a9ac;
}

.bg-primary-dk-3 {
  background-color: #101013;
}

.text-primary-dk-3 {
  color: #101013;
}

.bdr-primary-dk-3 {
  border-color: #101013;
}

.bg-primary-lt-4 {
  background-color: #d4d4d6;
}

.text-primary-lt-4 {
  color: #d4d4d6;
}

.bdr-primary-lt-4 {
  border-color: #d4d4d6;
}

.bg-primary-dk-4 {
  background-color: #08080a;
}

.text-primary-dk-4 {
  color: #08080a;
}

.bdr-primary-dk-4 {
  border-color: #08080a;
}

.bg-secondary {
  background-color: #f5f5f5;
}

.text-secondary {
  color: #f5f5f5;
}

.bdr-secondary {
  border-color: #f5f5f5;
}

.bg-secondary-lt-1 {
  background-color: #f7f7f7;
}

.text-secondary-lt-1 {
  color: #f7f7f7;
}

.bdr-secondary-lt-1 {
  border-color: #f7f7f7;
}

.bg-secondary-dk-1 {
  background-color: #c4c4c4;
}

.text-secondary-dk-1 {
  color: #c4c4c4;
}

.bdr-secondary-dk-1 {
  border-color: #c4c4c4;
}

.bg-secondary-lt-2 {
  background-color: #f9f9f9;
}

.text-secondary-lt-2 {
  color: #f9f9f9;
}

.bdr-secondary-lt-2 {
  border-color: #f9f9f9;
}

.bg-secondary-dk-2 {
  background-color: #939393;
}

.text-secondary-dk-2 {
  color: #939393;
}

.bdr-secondary-dk-2 {
  border-color: #939393;
}

.bg-secondary-lt-3 {
  background-color: #fbfbfb;
}

.text-secondary-lt-3 {
  color: #fbfbfb;
}

.bdr-secondary-lt-3 {
  border-color: #fbfbfb;
}

.bg-secondary-dk-3 {
  background-color: #626262;
}

.text-secondary-dk-3 {
  color: #626262;
}

.bdr-secondary-dk-3 {
  border-color: #626262;
}

.bg-secondary-lt-4 {
  background-color: #fdfdfd;
}

.text-secondary-lt-4 {
  color: #fdfdfd;
}

.bdr-secondary-lt-4 {
  border-color: #fdfdfd;
}

.bg-secondary-dk-4 {
  background-color: #313131;
}

.text-secondary-dk-4 {
  color: #313131;
}

.bdr-secondary-dk-4 {
  border-color: #313131;
}

.bg-tertiary {
  background-color: #f5f5f5;
}

.text-tertiary {
  color: #f5f5f5;
}

.bdr-tertiary {
  border-color: #f5f5f5;
}

.bg-tertiary-lt-1 {
  background-color: #f7f7f7;
}

.text-tertiary-lt-1 {
  color: #f7f7f7;
}

.bdr-tertiary-lt-1 {
  border-color: #f7f7f7;
}

.bg-tertiary-dk-1 {
  background-color: #c4c4c4;
}

.text-tertiary-dk-1 {
  color: #c4c4c4;
}

.bdr-tertiary-dk-1 {
  border-color: #c4c4c4;
}

.bg-tertiary-lt-2 {
  background-color: #f9f9f9;
}

.text-tertiary-lt-2 {
  color: #f9f9f9;
}

.bdr-tertiary-lt-2 {
  border-color: #f9f9f9;
}

.bg-tertiary-dk-2 {
  background-color: #939393;
}

.text-tertiary-dk-2 {
  color: #939393;
}

.bdr-tertiary-dk-2 {
  border-color: #939393;
}

.bg-tertiary-lt-3 {
  background-color: #fbfbfb;
}

.text-tertiary-lt-3 {
  color: #fbfbfb;
}

.bdr-tertiary-lt-3 {
  border-color: #fbfbfb;
}

.bg-tertiary-dk-3 {
  background-color: #626262;
}

.text-tertiary-dk-3 {
  color: #626262;
}

.bdr-tertiary-dk-3 {
  border-color: #626262;
}

.bg-tertiary-lt-4 {
  background-color: #fdfdfd;
}

.text-tertiary-lt-4 {
  color: #fdfdfd;
}

.bdr-tertiary-lt-4 {
  border-color: #fdfdfd;
}

.bg-tertiary-dk-4 {
  background-color: #313131;
}

.text-tertiary-dk-4 {
  color: #313131;
}

.bdr-tertiary-dk-4 {
  border-color: #313131;
}

.bg-white {
  background-color: #fefefe;
}

.text-white {
  color: #fefefe;
}

.bdr-white {
  border-color: #fefefe;
}

.bg-white-lt-1 {
  background-color: #fefefe;
}

.text-white-lt-1 {
  color: #fefefe;
}

.bdr-white-lt-1 {
  border-color: #fefefe;
}

.bg-white-dk-1 {
  background-color: #cbcbcb;
}

.text-white-dk-1 {
  color: #cbcbcb;
}

.bdr-white-dk-1 {
  border-color: #cbcbcb;
}

.bg-white-lt-2 {
  background-color: #fefefe;
}

.text-white-lt-2 {
  color: #fefefe;
}

.bdr-white-lt-2 {
  border-color: #fefefe;
}

.bg-white-dk-2 {
  background-color: #989898;
}

.text-white-dk-2 {
  color: #989898;
}

.bdr-white-dk-2 {
  border-color: #989898;
}

.bg-white-lt-3 {
  background-color: white;
}

.text-white-lt-3 {
  color: white;
}

.bdr-white-lt-3 {
  border-color: white;
}

.bg-white-dk-3 {
  background-color: #666666;
}

.text-white-dk-3 {
  color: #666666;
}

.bdr-white-dk-3 {
  border-color: #666666;
}

.bg-white-lt-4 {
  background-color: white;
}

.text-white-lt-4 {
  color: white;
}

.bdr-white-lt-4 {
  border-color: white;
}

.bg-white-dk-4 {
  background-color: #333333;
}

.text-white-dk-4 {
  color: #333333;
}

.bdr-white-dk-4 {
  border-color: #333333;
}

.bg-black {
  background-color: #222222;
}

.text-black {
  color: #222222;
}

.bdr-black {
  border-color: #222222;
}

.bg-black-lt-1 {
  background-color: #4e4e4e;
}

.text-black-lt-1 {
  color: #4e4e4e;
}

.bdr-black-lt-1 {
  border-color: #4e4e4e;
}

.bg-black-dk-1 {
  background-color: #1b1b1b;
}

.text-black-dk-1 {
  color: #1b1b1b;
}

.bdr-black-dk-1 {
  border-color: #1b1b1b;
}

.bg-black-lt-2 {
  background-color: #7a7a7a;
}

.text-black-lt-2 {
  color: #7a7a7a;
}

.bdr-black-lt-2 {
  border-color: #7a7a7a;
}

.bg-black-dk-2 {
  background-color: #141414;
}

.text-black-dk-2 {
  color: #141414;
}

.bdr-black-dk-2 {
  border-color: #141414;
}

.bg-black-lt-3 {
  background-color: #a7a7a7;
}

.text-black-lt-3 {
  color: #a7a7a7;
}

.bdr-black-lt-3 {
  border-color: #a7a7a7;
}

.bg-black-dk-3 {
  background-color: #0e0e0e;
}

.text-black-dk-3 {
  color: #0e0e0e;
}

.bdr-black-dk-3 {
  border-color: #0e0e0e;
}

.bg-black-lt-4 {
  background-color: lightgray;
}

.text-black-lt-4 {
  color: lightgray;
}

.bdr-black-lt-4 {
  border-color: lightgray;
}

.bg-black-dk-4 {
  background-color: #070707;
}

.text-black-dk-4 {
  color: #070707;
}

.bdr-black-dk-4 {
  border-color: #070707;
}

.p-0 {
  padding: 0;
}

.p-xs {
  padding: 0.25rem;
}

.p-s {
  padding: 0.5rem;
}

.p-m {
  padding: 1rem;
}

.p-l {
  padding: 1.5rem;
}

.p-xl {
  padding: 2rem;
}

.p-xxl {
  padding: 4rem;
}

.m-0 {
  margin: 0;
}

.m-xs {
  margin: 0.25rem;
}

.m-s {
  margin: 0.5rem;
}

.m-m {
  margin: 1rem;
}

.m-l {
  margin: 1.5rem;
}

.m-xl {
  margin: 2rem;
}

.m-xxl {
  margin: 4rem;
}

.bdr-rd-none {
  border-radius: 0;
}

.bdr-rd-xs {
  border-radius: 0.25rem;
}

.bdr-rd-s {
  border-radius: 0.5rem;
}

.bdr-rd-m {
  border-radius: 1rem;
}

.bdr-rd-l {
  border-radius: 1.5rem;
}

.bdr-rd-xl {
  border-radius: 2rem;
}

.bdr-rd-xxl {
  border-radius: 50%;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

.d-i {
  display: inline;
}

.d-f {
  display: flex;
}

.d-if {
  display: inline-flex;
}

.d-g {
  display: grid;
}

.d-ig {
  display: inline-grid;
}

.fs-xs {
  font-size: 0.75rem;
}

.fs-s {
  font-size: 0.875rem;
}

.fs-m {
  font-size: 1rem;
}

.fs-l {
  font-size: 1.25rem;
}

.fs-xl {
  font-size: 1.5rem;
}

.fs-xxl {
  font-size: 2rem;
}

.fw-n {
  font-weight: normal;
}

.fw-b {
  font-weight: bold;
}

.fw-l {
  font-weight: lighter;
}

.fw-bd {
  font-weight: bolder;
}

body {
  margin: 0rem;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}