*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  border: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  background-color: #fefefe;
}

.bg-pri {
  background-color: #1a1ae2;
}

.txt-pri {
  color: #1a1ae2;
}

.bdr-pri {
  border-color: #1a1ae2;
}

.bg-sec {
  background-color: #33ffe7;
}

.txt-sec {
  color: #33ffe7;
}

.bdr-sec {
  border-color: #33ffe7;
}

.bg-ter {
  background-color: #fc8282;
}

.txt-ter {
  color: #fc8282;
}

.bdr-ter {
  border-color: #fc8282;
}

.bg-white {
  background-color: #fefefe;
}

.txt-white {
  color: #fefefe;
}

.bdr-white {
  border-color: #fefefe;
}

.bg-black {
  background-color: #222222;
}

.txt-black {
  color: #222222;
}

.bdr-black {
  border-color: #222222;
}

.p-0 {
  padding: 0;
}

.p-xs {
  padding: 0.25rem;
}

.px-xs {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-xs {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-s {
  padding: 0.5rem;
}

.px-s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-s {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-m {
  padding: 1rem;
}

.px-m {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-m {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-l {
  padding: 1.5rem;
}

.px-l {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-l {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-xl {
  padding: 2rem;
}

.px-xl {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-xl {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-xxl {
  padding: 4rem;
}

.px-xxl {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-xxl {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-xs {
  padding-left: 0.25rem;
}

.pl-s {
  padding-left: 0.5rem;
}

.pl-m {
  padding-left: 1rem;
}

.pl-l {
  padding-left: 1.5rem;
}

.pl-xl {
  padding-left: 2rem;
}

.pl-xxl {
  padding-left: 4rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-xs {
  padding-right: 0.25rem;
}

.pr-s {
  padding-right: 0.5rem;
}

.pr-m {
  padding-right: 1rem;
}

.pr-l {
  padding-right: 1.5rem;
}

.pr-xl {
  padding-right: 2rem;
}

.pr-xxl {
  padding-right: 4rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-xs {
  padding-top: 0.25rem;
}

.pt-s {
  padding-top: 0.5rem;
}

.pt-m {
  padding-top: 1rem;
}

.pt-l {
  padding-top: 1.5rem;
}

.pt-xl {
  padding-top: 2rem;
}

.pt-xxl {
  padding-top: 4rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-xs {
  padding-bottom: 0.25rem;
}

.pb-s {
  padding-bottom: 0.5rem;
}

.pb-m {
  padding-bottom: 1rem;
}

.pb-l {
  padding-bottom: 1.5rem;
}

.pb-xl {
  padding-bottom: 2rem;
}

.pb-xxl {
  padding-bottom: 4rem;
}

.m-0 {
  margin: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-xs {
  margin: 0.25rem;
}

.mx-xs {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-xs {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-s {
  margin: 0.5rem;
}

.mx-s {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-s {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-m {
  margin: 1rem;
}

.mx-m {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-m {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-l {
  margin: 1.5rem;
}

.mx-l {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-l {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-xl {
  margin: 2rem;
}

.mx-xl {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-xl {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-xxl {
  margin: 4rem;
}

.mx-xxl {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-xxl {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-xs {
  margin-left: 0.25rem;
}

.ml-s {
  margin-left: 0.5rem;
}

.ml-m {
  margin-left: 1rem;
}

.ml-l {
  margin-left: 1.5rem;
}

.ml-xl {
  margin-left: 2rem;
}

.ml-xxl {
  margin-left: 4rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-xs {
  margin-right: 0.25rem;
}

.mr-s {
  margin-right: 0.5rem;
}

.mr-m {
  margin-right: 1rem;
}

.mr-l {
  margin-right: 1.5rem;
}

.mr-xl {
  margin-right: 2rem;
}

.mr-xxl {
  margin-right: 4rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-xs {
  margin-top: 0.25rem;
}

.mt-s {
  margin-top: 0.5rem;
}

.mt-m {
  margin-top: 1rem;
}

.mt-l {
  margin-top: 1.5rem;
}

.mt-xl {
  margin-top: 2rem;
}

.mt-xxl {
  margin-top: 4rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-xs {
  margin-bottom: 0.25rem;
}

.mb-s {
  margin-bottom: 0.5rem;
}

.mb-m {
  margin-bottom: 1rem;
}

.mb-l {
  margin-bottom: 1.5rem;
}

.mb-xl {
  margin-bottom: 2rem;
}

.mb-xxl {
  margin-bottom: 4rem;
}

.bdr-0 {
  border: 0;
}

.bdr-rd-0 {
  border-radius: 0;
}

.bdr-rd-xs {
  border-radius: 0.25rem;
}

.bdr-rd-s {
  border-radius: 0.5rem;
}

.bdr-rd-m {
  border-radius: 1rem;
}

.bdr-rd-l {
  border-radius: 1.5rem;
}

.bdr-rd-xl {
  border-radius: 2rem;
}

.bdr-rd-xxl {
  border-radius: 50%;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

.d-i {
  display: inline;
}

.d-f {
  display: flex;
}

.d-if {
  display: inline-flex;
}

.d-g {
  display: grid;
}

.d-ig {
  display: inline-grid;
}

.f-r {
  flex-direction: row;
}

.f-rr {
  flex-direction: row-reverse;
}

.f-c {
  flex-direction: column;
}

.f-cr {
  flex-direction: column-reverse;
}

.fs-xs {
  font-size: 0.75rem;
}

.fs-s {
  font-size: 0.875rem;
}

.fs-m {
  font-size: 1rem;
}

.fs-l {
  font-size: 1.25rem;
}

.fs-xl {
  font-size: 1.75rem;
}

.fs-xxl {
  font-size: 2.75rem;
}

.fs-xxxl {
  font-size: 4.5rem;
}

.ta-l {
  text-align: left;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.ta-j {
  text-align: justify;
}

.fw-n {
  font-weight: normal;
}

.fw-b {
  font-weight: bold;
}

.fw-l {
  font-weight: lighter;
}

.fw-bd {
  font-weight: bolder;
}

.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  padding-left: 0;
  padding-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  padding-left: 0;
  padding-right: 0;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  padding-left: 0;
  padding-right: 0;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  padding-left: 0;
  padding-right: 0;
}

.jc-start {
  justify-content: start;
}

.ai-start {
  align-items: start;
}

.ac-start {
  align-content: start;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.ac-center {
  align-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.ai-space-between {
  align-items: space-between;
}

.ac-space-between {
  align-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.ai-space-around {
  align-items: space-around;
}

.ac-space-around {
  align-content: space-around;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.ai-space-evenly {
  align-items: space-evenly;
}

.ac-space-evenly {
  align-content: space-evenly;
}

.jc-flex-start {
  justify-content: flex-start;
}

.ai-flex-start {
  align-items: flex-start;
}

.ac-flex-start {
  align-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.ai-flex-end {
  align-items: flex-end;
}

.ac-flex-end {
  align-content: flex-end;
}

@media (min-width: 0) {
  .col-1-xs {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .col-1-sm {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-1-md {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-1-lg {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-1-xxl {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xxl {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xxl {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xxl {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xxl {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xxl {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xxl {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xxl {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xxl {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xxl {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xxl {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xxl {
    flex-grow: 0;
    width: 100%;
  }
}