// Button
@mixin btn($display: inline-block, $bdr: 0, $bg-clr, $bdr-radius, $txt-clr: white) {
    display: $display;
    text-decoration: none;
    cursor: pointer;
    border: $bdr;
    background-color: $bg-clr;
    border-radius: $bdr-radius;
    color: $text-clr;
}


// Card
@mixin card($margin, $display: block, $padding, $shadow: 0, $bdr-radius, $bg-clr: white, $t-fs, $t-fw, $pb, $b-fs, $b-fw, $text-dcr: none) {
    margin: $margin;
    display: $display;
    padding: $padding;
    box-shadow: $shadow;
    border-radius: $bdr-radius;
    background-color: $bg-clr;

    &--title {
        font-size: $t-fs;
        font-weight: $t-fw;
        padding-bottom: $pb;
    }

    &--body {
        font-size: $b-fs;
        font-weight: $b-fw;

        a { text-decoration: $text-dcr; }
    }
}

// Shadow
@mixin shadow($x: 0, $y: 0, $blur: 0, $spread: 0, $clr, $opacity: 0.15) {
    box-shadow: $x $y $y $blur $spread rgba($clr, $opacity);
}

// Margin & Padding
@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) { margin: $top $right $bottom $left; }
@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) { padding: $top $right $bottom $left; }

// Border & Border Radius
@mixin bdr($width: 0, $style: solid, $clr: black) { border: $width $style $clr; }
@mixin bdr-rd($top-left: 0, $top-right: 0, $bottom-right: 0, $bottom-left: 0) { border-radius: $top-left $top-right $bottom-right $bottom-left; }

// Font Size
@mixin fs($size: 1rem) { font-size: $size; }


// Breakpoints
$breakpoints: (
    'xs': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl': 1400px,
);

@mixin xs { 
    @media (min-width: map-get($breakpoints, 'xs')) { @content; }
}
@mixin sm {
    @media (min-width: map-get($breakpoints, 'sm')) { @content; }
}
@mixin md {
    @media (min-width: map-get($breakpoints, 'md')) { @content; }
}
@mixin lg {
    @media (min-width: map-get($breakpoints, 'lg')) { @content; }
}
@mixin xl {
    @media (min-width: map-get($breakpoints, 'xl')) { @content; }
}
@mixin xxl {
    @media (min-width: map-get($breakpoints, 'xxl')) { @content; }
}
@mixin breakpoint($bp) {
    @media (min-width: $bp) { @content; }
}
