//color
$colors: (
    "primary": #272730,
    "secondary": #0f0,
    "tertiary": #00f,
    "white": #fefefe,
    "black": #272727,
);

$base-size: 1rem;
$base-margin: $base-size;
$base-padding: $base-size;
$base-font-size: $base-size;








