* {
    margin: 2rem;
    box-sizing: border-box;
    text-decoration: none;
}

@import "variables";
@import 'typography';
@import 'colors';

@import 'mixin';
@import 'utilities';
// Components
@import 'components/card';