.card {
    display: block;
    padding: $p-s;
    box-shadow: $shadow-1;

    &--title {
        font-size: $fs-m;
        font-weight: 700;
        padding-bottom: $p-s;
    }

    &--body {
        font-size: $fs-s;
        font-weight: 400;

        a { text-decoration: underline; }
    }
}