@use 'variables' as *;

.container {
  width: $container-width;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-padding;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 $container-padding;
}
