@forward 'variables';
@forward 'colors';

@forward 'utilities';

@forward 'grid';

@forward 'mixins/breakpoints';
@forward 'mixins/components';
@forward 'mixins/utilities';

@forward 'typography';

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}