@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  @if $margin-zero { margin: 0; }
  @if $border-zero { border: 0; }
}

html,
body {
  @if $is-smooth-scroll {
    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }
}

body {
  margin: 0;
  background-color: $body-bg;
}
