@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  @if $is-smooth-scroll {
    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }
}

body {
  margin: 0;
  background-color: $body-bg;
}