@use 'variables' as *;

$utilities: (
    "padding": (
        "prefix": "p",
        "values": (
            "0": 0,
            "xs": $base-padding * 0.25,
            "s": $base-padding * 0.5,
            "m": $base-padding,
            "l": $base-padding * 1.5,
            "xl": $base-padding * 2,
            "xxl": $base-padding * 4,
        )
    ),

    "margin": (
        "prefix": "m",
        "values": (
            "0": 0,
            "xs": $base-margin * 0.25,
            "s": $base-margin * 0.5,
            "m": $base-margin,
            "l": $base-margin * 1.5,
            "xl": $base-margin * 2,
            "xxl": $base-margin * 4,
        )
    ),

    "border-radius": (
        "prefix": "bdr-rd",
        "values": (
            "none": 0,
            "xs": $base-border-radius * 0.25,
            "s": $base-border-radius * 0.5,
            "m": $base-border-radius,
            "l": $base-border-radius * 1.5,
            "xl": $base-border-radius * 2,
            "xxl": 50%,
        )
    ),

    "display": (
        "prefix": "d",
        "values": (
            "n": none,
            "b": block,
            "ib": inline-block,
            "i": inline,
            "f": flex,
            "if": inline-flex,
            "g": grid,
            "ig": inline-grid,
        )
    ),

    "font-size": (
        "prefix": "fs",
        "values": (
            "xs": $base-font-size * 0.75,
            "s": $base-font-size * 0.875,
            "m": $base-font-size,
            "l": $base-font-size * 1.25,
            "xl": $base-font-size * 1.5,
            "xxl": $base-font-size * 2,
        )
    ),

    "font-weight": (
        "prefix": "fw",
        "values": (
            "n": normal,
            "b": bold,
            "l": lighter,
            "bd": bolder,
        )
    ),
);

@each $prop, $map in $utilities {
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $key, $val in $values {
        .#{$prefix}-#{$key} {
            #{$prop}: $val;
        }
    }
}
