// Colors
$primary: #1a1ae2 !default;
$secondary: #33ffe7 !default;
$tertiary: #fc8282 !default;
$white: #fefefe !default;
$black: #222222 !default;

$body-bg: $white !default; // Body color

// Color platte
$colors: (
  'pri': $primary,
  'sec': $secondary,
  'ter': $tertiary,
  // 'err': $error,
  'white': $white,
  'black': $black
) !default;

// Base Size
$base-size: 1rem !default;
$base-margin: $base-size !default;
$base-padding: $base-size !default;
$base-border-radius: $base-size !default;

// Multiplier for padding and margin
// p-xs = $base-padding * $multi-xs
$multi-xs: 0.25 !default;
$multi-s: 0.5 !default;
$multi-l: 1.5 !default;
$multi-xl: 2 !default;
$multi-xxl: 4 !default;

// Typo
$base-font-size: $base-size !default;
$base-font-weight: 400 !default;
$base-line-height: 1 !default;

// Multiplier for font-size
// fs-xs = $base-font-size * $font-multi-xs
$font-multi-xs: 0.75 !default;
$font-multi-s: 0.875 !default;
$font-multi-l: 1.25 !default;
$font-multi-xl: 1.75 !default;
$font-multi-xxl: 2.75 !default;
$font-multi-xxxl: 4.5 !default;

// Container
$container-max-width: 1400px !default;
$container-width: 80% !default;
$container-padding: $base-size !default;

// Grid
$flex-flow: row wrap !default;
$grid-columns: 12 !default;
$grid-gaps: (
  '0': 0,
  '1': 10px,
  '2': 20px,
  '3': 30px
) !default;

$layout-val: start center space-between space-around space-evenly flex-start
  flex-end !default;

// Breakpoints
$breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px
) !default;

$is-smooth-scroll: true !default; // Smooth scroll
$margin-zero: true !default; // Sets margin zero to all elements * { margin: 0; }
$border-zero: true !default; // Sets border zero to all elements * { border: 0; }
$padding-zero: true !default; // Sets padding zero to all elements * { padding: 0; }
